/* Hiệu ứng xuất hiện từ dưới lên */
@keyframes slide-up {

  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-up {
  animation: slide-up 2.5s ease-out forwards;
}

/* Đảm bảo hình ảnh banner phủ toàn bộ màn hình */
.h-screen {
   height: 100vh;
}

.h-full {
  height: 100%;
}

.section-title {
  color: red;
  font-family: 'Oswald', sans-serif;
  text-shadow: 0 0 10px rgba(255, 69, 0, 0.7), 0 0 20px rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  margin-left:4%;
  position: relative;
  display: inline-block;
  padding-bottom: 10px; /* Khoảng cách giữa text và line */
}

.section-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 30%;
  height: 4px; /* Độ dày của line */
  background-color: red; /* Màu của line */
  animation: lineSlide 2s linear infinite; /* Hiệu ứng chạy qua lại */
}

@keyframes lineSlide {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100%); /* Chạy từ trái qua phải */
  }
  100% {
    transform: translateX(0); /* Chạy từ phải về trái */
  }

  }
}


/* Section "Top Phim Hot" */
.top-movie-section h3 {
  max-width: 100%;
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  color: #ff0000;
  text-shadow: 0 0 10px rgba(255, 69, 0, 0.7), 0 0 20px rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  margin-left: 6%; 
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 1.5rem;
}

.top-movie-container {
  padding: 1rem;
}

.section-divider-animation {
  height: 2px;
  margin: 2rem 0;
  position: relative;
  overflow: hidden;
  margin-left: 10%;
  max-width: 80%;
}

.section-divider-animation::before {
  content: '';
  position: absolute;
  top: 50%;
  width: 100%;
  height: 100%;
  background-color: #00d0ff;
  transform: scale(0);
  transform-origin: center;
  animation: zoom-in-out 1.5s infinite;
}

@keyframes zoom-in-out {
  0% {
    transform: scale(0);
    opacity: 0.5;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }

