
:root{
--white-color: #fff;
--black-color: #000;
--text-color: #434343;
--border-color: #eee;
--height-header: 35px;
--hover-color: #e34444;
--primary-color: #33cccc;
--primary-hover: rgba(141,238,238,0.2);
--primary-font: 'IBM Plex Sans Hebrew', sans-serif;
}

a{
text-decoration: none;
color: var(--text-color);
}

ul{
list-style: none;
padding: 0;
}

*{
box-sizing: inherit;
}

html{

/* hack, mac dinh = 16px */
font-size: 62.5%;
line-height: 1.6rem; 
font-family: 'Roboto', sans-serif;
box-sizing: border-box;
font-family: 'IBM Plex Sans Hebrew', sans-serif;
scroll-behavior: smooth;
}

p{
font-size: 1.2rem;    
}

body{
margin: 0;
/* font-family: "Helvetica",Helvetica,Arial,sans-serif; */
font-size: 1.4rem;
color: #333;
}


@keyframes loading{
0%{
    opacity: 0;
    transform: translateY(20%);
}
100%{
    opacity: 1;
    transform: translateY(0);
}
}


@keyframes loading2{
0%{ 
    opacity: 0;
    transform: translateY(5%);
}
100%{
    opacity: 1;
    transform: translateX(0);
}
}


@keyframes loading3{
from{
    opacity: 0;
    transform: scale(0);
}
to{
    opacity: 1;
    transform: scale(1);
}
}


@keyframes loading4{
    0%{
        transform: translateX(5%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}


@-webkit-keyframes icon-circle-img-anim {
0%{
    -webkit-transform: translateX(-5px);
}
25%{
    -webkit-transform: translateX(-10px);
}
50%{
    -webkit-transform: translateX(5);
}
75%{
    -webkit-transform: translateX(10px);
}
100%{
    -webkit-transform: translateX(0);
}

}
/* .noti{
opacity: 0;
position: fixed;
z-index: -1;
}

@media (max-width: 1100px ){
.app{
    display: none;
}
.noti{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    font-size: 3rem;
    font-weight: 800;
    line-height: 4rem;
    opacity: 1;
    color: #fff;
}
}
*/

@media (max-width: 46.1875em){
    .slide2__category-list{
        display: none;
    }

    .slide2__product-action{
        left: 60px;
    }
    .slide2__product-medium-item:hover .slide2__product-action{
        opacity: 1;
        bottom: 0px;
        transition: all 0.3s linear;
    }
    .slide__hotdeal-product{
        overflow:unset;
    }
    .footer .slide1__footer-item-cover::before {
        display: none;
    }
    .slide1__content-home{
        position: relative;
        right: 40px;
        min-width: 400px;
    }
    .slide1__content-home-content h3{
        line-height: 5rem;
        margin-left: 20px;
        font-size: 3rem;
    }

    .slide2__product-description{
        margin-top: 0;
        
    }
    .slide2__product-description h3{
        display: -webkit-box;
        -webkit-line-clamp: 1; 
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.8rem;
    }

    .slide2__product-medium-item-link .cover .coating{
        display: none;
    }
    .time-sale{
        right: -2px;
    }

    .slide2__header-title{
        text-align: center;
    }

    .slide__hotdeal__header-title {
        display: flex;
        justify-content: center;
    }
    .slide-hotdeal__product-action{
        left: 30px;

    }

    .slide__hotdeal__header::after{
        display: none;
    }
    .slide2__header-title::before{
        right: 0;
    }
    .slide-hotdeal__product-action-btn:last-child ,
    .slide2__product-action-btn:last-child{
        display: none;
    }
    .slide2__product-action{
        left: 15%;
    }
    .slide1__sidebar-mobile{
        display: block;
        background-image: linear-gradient(180deg,rgba(51, 204, 204,1),rgba(51, 204, 204,0));
        background-color: transparent;
    }
    .slide1__sidebar-mobile-item{
        padding: 10px 0;
    }

    .slide__sidebar-mobile-header-icon,
    .slide1__sidebar-mobile-item-icon{
        font-size: 2rem;
    }
    .slide1__sidebar-mobile-input:checked ~ .slide1__sidebar-mobile-sub{
        opacity: 1;
        transform: translateX(31px);
        z-index: 3;
    }
    .slide1__sidebar-home-list-2{
        left:  100%;
    }
    .slide__sidebar-mobile-header-icon-2{
        display: none !important;
    }
    .slide1__content-home-content{
        width: 110%;
    }
}

@media (min-width: 46.25em) and (max-width: 63.9375em){
    .footer .slide1__footer-item-cover::before {
        display: none;
    }
    .slide1__sidebar-mobile{
        display: block;
    }

    .slide-hotdeal__product-action-btn:last-child,
    .slide2__product-action-btn:last-child{
        display: none;
    }


    .slide1__sidebar-mobile-list{
        top: -14.5px;
        height: 100%;
    }

    .slide-hotdeal__product-action{
        left: 30px;
    }
    .slide2__product-action{
        left: 30px;
    }
    .slide__sidebar-mobile-header-icon{
        display: none !important;
    }
    .slide1__sidebar-mobile-item-icon{
        font-size: 3rem;
        padding: 10px;
        margin-left: 0;
        z-index: 10;
    }
    .slide1__sidebar-home-list-2{
        top: 0px;
        height: 100%;
    }
    .slide1__sidebar-mobile-item{
        margin-right: 20px 0;
    }
    .slide__sidebar-mobile-header{
        background-color: transparent;
        top: -50px;
        transition: all 0.3s linear;
        cursor: pointer;
    }
    .slide__sidebar-mobile-header:hover{
        color: var(--primary-color);
    }
}
