.container {
    position: relative;
}

.cart-info {
    position: absolute;
    top: 0;
    right: -700px; /* Đẩy khối ra khỏi vùng hiển thị */
    width: 400px;
    height: 100%;
    background-color: #9d3939;
    transition: right 0.3s ease; /* Hiệu ứng chuyển động */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-to-cart-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    outline: none;
}

.add-to-cart-btn:hover {
    background-color: #0056b3;
}
.icons{
    color: #9685ab;
    font-size: 20px;
}
.pro1{
    width: 150px;
    height: 150px;
}
.title{
    font-size: 17px;
}
.price{
    font: 10px;
}
.item {
    display: flex;
    margin: 35px 0px;
}

.imformationPro{
    display: flex;
    flex-direction: column;
}
input#quantity {
    width: 31px;
}
span.subprice {
    right: 0;
    float: right;
    font-size: 20px;
    font-weight: 600;
}
p.nameSub {
    font-size: 22px;
    font-weight: 600;
}
.totalprice{
    right: 0;
    float: right;
    font-size: 22px;
    font-weight: 600;
}

.check{
    width: 100%;
    height: 40px;
    background-color: #000;
    color: #fff;
}
.view{
    width: 100%;
    height: 40px;
    margin-top: 25px;
   
}