.nav-link {
    font-size: 17px;
}

.container-fluid {
    border-top: 0.5px solid rgb(171, 166, 166);
    border-bottom: 0.5px solid rgb(175, 172, 172);

    
}
.header__search-search-icon {
    position: absolute;
    /* right: 12px; */
    top: 17.5%;
    transform: translateY(-50%);
    transform: translateX(-249%);
}
.header__search-search-icon-link{
    color: gray;
}
i.fa-solid.fa-magnifying-glass {
    font-size: 17px;
}
.header__search-cart-text h1, .header__search-tell-text h1 {
    font-size: 1.3rem;
    margin-bottom: 5px;
    letter-spacing: 1px;
}
.header__search-cart-text span, .header__search-tell-text span {
    font-size: 1.3rem;
    color: var(--text-color);
}
.header__search-search-input {
    width: 621px;
    outline: none;
    padding: 13px 30px;
    border: 2px solid var(--primary-color);
    border-radius: 30px;
}
.header__search-tell-text {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.header__search-tell-link {
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    display: flex;
}
.header__search.row {
    margin: 31px 0px;
}
ul.navbar-nav {
    margin-left: 47px;
}
.backg {
    background-color:  #e3e3e3;
}
.header__search-tell-img {
    width: 16%;
    display: block;
}
a.nav-link {
    color: black;
    font-size: 15px;
    font-weight: 700;

}
.nav-header {
    margin-top: 14px;
    margin-bottom: 1rem;
    margin-left: 154px;
font-weight: 700;}
#header{
   
    background-color: rgb(8 49 49);
    width: 100%;
    height: 40px;
    color: red;
}
h1#welcome-text {
    font-size: 15px;
    line-height: 39px;
}
.containers {
    padding-top: 20px;
}
.container{
 
    background-color: #fff;
}
.navbar-nav .nav-item .nav-link:hover {
    color: var(--primary-color); /* Thay đổi màu chữ khi hover thành màu xanh */
}

#welcome-text {
    position: absolute; /* Đặt vị trí tuyệt đối */
    animation: slide 12s linear infinite; /* Sử dụng animation slide */
    font-size: 17px;
    font-weight: 600;
}

@keyframes slide {
    0% { right: 0; } /* Bắt đầu từ vị trí bên phải */
    100% { right: calc(100% - 550px); } /* Di chuyển đến vị trí cuối cùng bên phải */
}

.header__search-cart {
    display: inline-block;
    padding: 0;
    margin-left: -40px;
    position: relative;
}
.header__search-cart-img {
    width: 60%;
    display: inline-block;
}
.header__search-cart-text h1 {
    display: inline-block;
    vertical-align: middle;
    width: 7rem;
}
.header__search-cart-text span, .header__search-tell-text span {
    font-size: 1.3rem;
    color: var(--text-color);
}
* {
    box-sizing: inherit;
}
.header__search-cart-list {
    position: absolute;
    content: "";
    width: 100%;
    height: auto;
    background-color: var(--white-color);
    top: 60px;
    right: 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    padding: 0 20px;
    border: 1px solid rgb(199, 198, 198);
 

    z-index: 1;
}
.header__search-cart-link {
    height: auto;
    display: flex;
    width: 250%;
    max-width: 48px;
    max-height: 48px;
}
.header__search-cart-list span {
    display: block;
    color: var(--text-color);
    font-size: 1.3rem;
    padding: 20px 0;
    margin-top: 30px;
  
}
.header__search-cart-list h1 {
   
    position: relative;
    color: var(--text-color);
    font-size: 1.3rem;
    bottom: -10px;
}
.introduce {
    margin-left: 9vh;
    margin-top: 2vh;
    font-size: 18px;
    font-weight: 600;
    padding-top: 15px;
}
i.fa-regular.fa-heart {
    font-size: 36px;
    margin-top: 7px;
}
.link-home{
    text-decoration: none;
    color: red;
}
.title-name{
    color: #83854c;
}
img.about-hinh {
    width: 732px;
    height: 790px;
}
hr.textDeco {
    margin-top: 45px;
}
/*  */
.productView-thumbnail-wrapper {
    position: relative;
    overflow: hidden;
}

.all-img {
    display: flex;
}

.slider {
    width: 100px; /* Đảm bảo kích thước của ảnh phù hợp */
    height: auto;
    margin-right: 10px; /* Khoảng cách giữa các ảnh */
}

.prevBtn,
.nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: black;
    
}
section{
    background-color: rgb(224, 220, 220);
}

.prevBtn {
    left: 0;
}

.nextBtn {
    right: 0;
}

.center-content {
    display: flex;
    margin-top: 30px;
}
.introducePro {
    margin-left: 50px;
    margin-right: 30px;
}
span.title-pro {
    font-size: 25px;
    font-weight: 600;
}
.chinhHang {
    font-size: 20px;
    font-weight: 600;
    color: green;
    width: 150px;
    height: 50px;
    background-color: #a6ffa5;
    border-radius: 35%;
    text-align: center;
    line-height: 50px;
    margin: 20px 0px;
}
.desrip {
    font-size: 17px;
   
}
.price {
    display: flex;
    margin: 20px 0px;
    /* padding-right: 28px; */
    
}
.price-old {
    margin-top: 1px;
    text-decoration: line-through;
    font-size: 18px;
    line-height: 38px;
}
.price-new{
   font-size: 25px;
   color: green;
   margin-left: 20px;
   font-weight: 600;
   text-decoration: underline;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  display: none;
}

/* Tùy chỉnh kiểu hiển thị của input number */
input[type="number"] {
  border: none; /* Tắt đường viền */
  outline: none; /* Tắt đường viền khi focus */
  box-shadow: none; /* Tắt đường viền */
  background: transparent; /* Nền trong suốt */
  width: 50px; /* Kích thước input */
  text-align: center; /* Căn giữa nội dung */
}
.options {
    display: flex;
    gap: 20px;
    margin: 40px 0px;
 
}
.giam{
    border-radius: 50px;
}
.giam:hover{
   
  
    background-color: #a6ffa5;
}
button.giam {
    font-size: 22px;
    padding: 4px 18px;

    
}
button.tang {
    font-size: 22px;
    padding: 4px 16px;
}
.tang{
    border-radius: 50px;
}
.tang:hover{
    border-radius: 50px;
      
    background-color: #0eea0a;
}
.tru{
    width: 20px;
    
}
.cart {
    background-color:#cecaca;
    width: 192px;
    font-size: 18px;
    line-height: 45px;
    text-align: center;
    border-radius: 50px;
    font-weight: 600;
}

.inputs {
  
    cursor: pointer;
    font-size: 29px;
    width: 48px;
    border-radius: 50px;
}
input#quantity {
    font-size: 20px;
}
button.buy-now {
    background-color: #4bb33c;
  color: #fff;
    font-size: 22px;
    height: 45px;
    width: 100%;
    font-size: 18px;
    text-align: center;
     line-height: 45px;
     font-weight: 600;
     border-radius: 20px;
}
.catego{
    font-size: 17px;
    font-weight: 700;
}
.spanCate{
    font-weight: 500;
}
.fa-brands{
   
  
    font-size: 30px;
}
.icons-right {
    gap: 11px;
    /* margin-right: 22px; */
    /* padding-right: 20px; */
    display: flex;
    gap: 21px;
    margin-top: 20px;
}